.checkout-img {
    height: 70px;
    width: 70px;
}
.banner-checkout {
    background: white;
}
.checkout-wrap {
    max-width: 1710px;
    display: flex;
    gap: 1em;
    padding: 1em 0;
    margin: 0 auto;
    width: 85%;
}
#order-content {
    width: 100%;
}
.order-content-wrap {
    width: 50%;
}
.checkout-btn-wrap,
#check-box {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.confirmation-img {
    height: 70px;
    max-width: 70px;
}
.logo > span {
    font-weight: bold;
    font-size: 2.7rem;
}
.send-order {
    padding: 1rem 0.25rem;
}
.send-order > svg {
    margin-right: 10px;
}
.empty-btn {
    background: #de6363;
    padding: 1rem 0.25rem;
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    font-weight: bold;
    width: 100%;
    max-width: 250px;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #e5e5e5;
    color: white;
}
.empty-btn:hover {
    transform: scale(1.1);
    transition: all 0.3s ease 0s;
}
.customer-details {
    max-width: 50%;
}

.confirmation-wrapper {
    width: 75%;
}

.form-group {
    margin-bottom: 1.2rem;
}
.arrow-wrapper {
    max-width: 1710px;
    width: 85vw;
}
#customer-checkbox {
    height: 20px;
    width: 20px;
}
