/* @media screen and (max-width: 768px) {
} */
/* Tablet screen size */
@media screen and (max-width: 1024px) {
    .content-container {
        width: 95vw;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        padding: 0;
    }
    .banner > h1 {
        font-size: 2rem;
        font-weight: bold;
    }
    .header-wrapper {
        width: 100vw;
    }
    .content-container {
        width: 100vw;
        margin: 0 auto;
    }
    .content-wrapper {
        background: none;
    }
    .info-background {
        margin: 0;
        overflow-x: hidden;
    }
    .info-wrap {
        width: 90%;
        height: auto;
        display: block;
        padding: 0.1em;
    }
    .info-img {
        width: 200px;
        margin: 0;
    }
    .info-name {
        margin: 0;
    }
    .info-section-l,
    .info-section-r {
        width: auto;
    }
    .info-section-r > p {
        margin: 0 auto;
        width: 100%;
    }
    .info-close {
        padding-top: 0;
    }
    .hero-images {
        height: 250px;
    }

    .content-container {
        width: 100vw;
    }

    .hero-description {
        width: 100vw;
    }

    /* start cart-section */
    .cart-background {
        box-shadow: 0px 0px 3px 1px rgba(18, 18, 18, 0.75);
        width: 95vw;
    }
    #title-cart {
        background-color: #d6576c;
        padding: 0.75em 0.1em 0.6em 0.75em;
        bottom: initial;
        top: 93px;
        right: 0;
        /* border: 0; */
        border-radius: 20px 0 0 20px;
    }
    #cart-item-count {
        left: -8px;
        top: -15px;
        z-index: 2;
        font-size: 0.6em;
        padding: 0.25em;
    }
    .cart-heading {
        width: 95%;
    }
    .cart-heading-wrap {
        width: 70%;
    }
    .cart-heading-details {
        width: 70%;
        justify-content: space-between;
    }
    .cart-image {
        width: 50px;
        margin-right: 1em;
    }
    .cart-descript {
        display: block;
    }
    .cart-descript > p {
        margin: 0.5em 0;
    }
    .cart-descript > p:first-child {
        width: 100%;
    }

    .cart-adjust {
        display: inline;
        padding-left: 25%;
    }
    #cart-item-price {
        display: inline;
        padding-left: 10%;
    }
    .cart-btn-wrap {
        width: 95%;
        padding: 1rem;
    }
    #checkout-btn,
    #clear-cart-btn {
        padding: 0.25em;
        height: 2.2em;
    }
    #cart {
        padding: 1rem;
        width: 95%;
    }
    .bi-x-lg {
        font-size: 1.5em;
    }
    button.btn.btn-danger.cart-remove-item {
        padding: 0.35em;
        height: 2.2em;
    }
    #cart-list {
        width: 95%;
    }
    p.card-text {
        font-size: 1em;
    }
    p.card-title {
        font-size: 0.8em;
        margin-bottom: 0.5em;
    }

    /* end cart-section */
}
/* Mobile screen size */
@media screen and (max-width: 480px) {
    .cart-background {
        box-shadow: 0px 0px 3px 1px rgba(18, 18, 18, 0.75);
        width: 95vw;
    }
    .cart-adjust {
        padding-left: 1em;
    }
    #cart-item-price {
        padding-left: 1em;
    }
}
