* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}


.content-wrapper {
    background-image: url("https://images.unsplash.com/photo-1576712967455-c8d22580e9be?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size:cover;
    background-attachment: fixed;

} 

.content-container {
    width: 70%;
    margin: 0 auto;
}

/* styling for navigation */

.header-wrapper {
    position: sticky;
}

.banner > h1 {
    font-size: 3rem;
    font-weight: bold;
}

.nav-menu,
.sub-nav {
    background-color: rgb(214, 87, 108);
}

.nav-item {
    text-decoration: none;
    color: whitesmoke;
    font-size: .85rem;
    font-weight: bold;
}

/* styling for hero section */

.hero {
    background-color: #34aaff;
}

.hero > h2,
p {
    color: whitesmoke;
    font-weight: bold;
}

.hero-images {
    width: 100%;
}

.hero-images > img {
    height: 400px;
    width: 33.33%;
}

/* styling for sub navigation */

.sub-nav {
    width: 100%;
}

.sub-nav-search {
    margin: 0 auto;
    color: whitesmoke;
    background-color: transparent;
    border: none;
}

/* styling for product page */

.product-main {
    margin: 0 auto;
  }

  .btn {
    padding: 0 3rem;
    margin-bottom: 1rem;
  }

  .product-wrap {
    height: 375px;
    
  }

  .product-cards {
    border: 1px solid black;
    background-color: white;
  }

  .card-img {
    cursor: pointer;
  }


  .customer-details {
    width: 75%;
    margin: 0 auto;
  }

